.dashboard {
    font-family: Arial, sans-serif;
    padding: 20px;
  }
  /* Dashboad.css */
table {
  width: 100%;
  border-collapse: collapse;
}

thead {
  background-color: #f4f4f4;
}

th, td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.search-bar {
  width: 100%;
  padding: 8px;
  margin-bottom: 20px;
}

.actions {
  margin-bottom: 20px;
}

a {
  color: #007bff;
  text-decoration: none;
}

a:visited {
  color: #007bff; /* Ensure visited links stay the same color */
}

a:hover {
  text-decoration: underline;
}

.error {
  color: red;
}

  h1, h2 {
    color: #333;
  }
  
  .actions {
    margin-bottom: 20px;
  }
  
  button {
    margin-right: 10px;
    padding: 10px 15px;
    border: none;
    background-color: #007bff;
    color: white;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  table, th, td {
    border: 1px solid #ddd;
  }
  
  th, td {
    padding: 15px;
    text-align: left;
  }
  
  th {
    background-color: #f2f2f2;
  }
  